body {
    height: 100%;
    width: 100%;
    background: #fbde34;
    overflow: hidden;
}

#label {
    font-family: 'Neutra Text TF';
    font-size: 20em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    line-height: 0.5;

    span {
        opacity: 0;
    }
}

.circle {
    background: #fff;
    border-radius: 50%;

    &#big {
        height: 100px;
        width: 100px;
    }
}
